body {
  background-image: url("img/bg.png");
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  line-height: 1.42857143;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}

#home {
  text-align: center;
}

#home a {
  display: inline-block;
  margin: auto;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin: 100px 0;
  width: 220px;
  border-right: 0.5px solid #fff;
  line-height: 70px;
}

#home a:last-of-type {
  border-right: none;
} 

.question {
  display: block;
  margin: auto;
  width: 50%;
}

.images {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mescore {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  background: #FFFFFF;
  font-size: .70588rem;
  border-radius: 2px;
  max-width: 100%;
  line-height: 2.94118rem;
  border: 1px solid #D6D6D6;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .11s ease-out;
  text-align: center;
  padding-left: 1.47059rem;
  padding-right: 1.47059rem;
  min-width: 7.64706rem;
}

.button.yes {
  margin-left: 10%;
  margin-top: 5%;
}

/* Footer */

.footer-basic-centered{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  padding-bottom: 15px;
  margin-top: 80px;
}

.footer-basic-centered .footer-titre{
  color:  #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

/* Popin */

.popin-back {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  text-align: center;
  z-index: -1;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.popin-back.visible {
  opacity: 1;
  z-index: 3;
}

.popin-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 15px #000;
  max-width: 500px;
  height: 250px;
  color: #000;
}

.popin-content h1 {
  margin-bottom: 30px;
}

.popin-content label, .popin-content input {
  display: block;
}

.popin-content input {
  margin: 10px auto 40px auto;
  font-size: 22px;
  line-height: 30px;
  width: 90%;
  max-width: 400px;
  outline: none;
}

.popin-content button {
  line-height: 40px;
  padding: 0 15px;
  border: none;
  color: #fff;
  margin: 0 30px;
  outline: none;
  cursor: pointer;
}

.popin-content button.back-home {
  background-color: #F44336;
}

.popin-content button.repeat {
  background-color: #4CAF50;
}

.popin-content button i {
  margin-right: 5px;
}

.highscore-block {
  margin: auto;
  background: #fff;
  box-shadow: 0 0 15px #000;
  max-width: 700px;
  color: #000;
  padding: 0 10px;
  padding-bottom: 10px;
  text-align: center;
}

.highscore-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.highscore-block ul li {
  line-height: 40px;
}

.highscore-block ul li:nth-child(2n+2) {
  background-color: #eee;
}

.highscore-block li div {
  display: inline-block;
  margin-right: -4px;
}

.highscore-block li div.index {
  width: 15%;
}

.highscore-block li div.name {
  width: 50%;
  font-size: 20px;
  text-align: left;
}

.highscore-block li div.score {
  width: 35%;
  font-size: 20px;
  font-weight: bold;
}

.highscore-block li div.score span {
  font-weight: normal;
}

/* Responsive */

@media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-titre{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}