<div class="highscore-block">
  <h1>Liste des 10 meilleurs résultats :</h1>
  <ul>
    {{#each players}}
      <li>
        <div class="index">{{math @index "+" 1}}</div>
        <div class="name">{{this.name}}</div>
        <div class="score">{{this.score}} <span>pts</span></div>
      </li>
    {{/each}}
  </ul>
</div>


<footer class="footer-basic-centered">

  <p class="footer-titre">A Real Game About Movies.</p>

  <p class="footer-links">
    <a href="#">Accueil</a>
    ·
    <a href="#/play">Nouvelle partie</a>
    ·
    <a href="#/highscores">Top 10</a>
  </p>

  <p class="footer-company-name">Manuel & Stan &copy; 2015</p>

</footer>