<ul>
  {{#each players}}
    <li>{{this.name}} - {{this.score}}</li>
  {{/each}}
</ul>


<footer class="footer-basic-centered">

  <p class="footer-titre">A Real Game About Movies.</p>

  <p class="footer-links">
    <a href="#">Home</a>
    ·
    <a href="#">New Game</a>
    ·
    <a href="#">Top 100</a>
  </p>

  <p class="footer-company-name">Manuel & Stan &copy; 2015</p>

</footer>