<section id="home">
  <h1>Bienvenue sur Movie Quizz</h1>
  <a href="#/play">Jouer</a>
  <a href="#/highscores">Top 10</a>

  <footer class="footer-basic-centered">

    <p class="footer-titre">A Real Game About Movies.</p>

    <p class="footer-company-name">Manuel & Stan &copy; 2015</p>

  </footer>
</section>