<div class="question">
	Est-ce que {{actor.name}} a joué dans {{movie.title}} ?
</div>

<div class="actor">
	<img src="{{actor.image}}">	

</div>

<div class="movie">
	<img src="{{movie.poster}}">	
</div>

<div class="buttons">
	<button class="no">No</button>
	<button class="yes">Yes</button>
</div>